{%extends display.mvc%}
{%block header_def%}{%endblock%}


{%block content_def%}
<div class="center" data-xhr="center">
 <div class="content">
  <p id="description">{%trans%}Scan your barcode and see your points{%endtrans%}</p>
  <form class="ajx form row form-barcode" method="post" id="form-point" data-delay='3000' data-clear>
{{forms.make(form['barcode'])}}
  </form>
 </div>
 <div id="person-card" class="row">
  <div id="person-data" class="span8">
   <div id="person-name"></div>
   <div id="person-game"></div>
   <div id="person-prize"></div>
  </div>
  <div class="span4">
   <img id="person-avatar" src="{{url.static}}images/face.png" alt='avatar'/>
   <img id="person-medal" src="{{url.static}}images/medal.png" alt='medal'/>
  </div>
 </div>
</div>

{%endblock%}