{%extends display.mvc%}
{%block header_def%}{%endblock%}


{%block content_def%}
<div class="center" data-xhr="center">
 <header>{%spaceless%}
  <a href="{{url.root}}" title="{{site.slogan}}" tabindex="-1" id='logo'>
   <img src="{{url.static}}images/logo.svg" alt='{%trans "masoomeh holy shine"%}' />
  </a>
 </header>{%endspaceless%}

 <div class="content">
  <h1>{{site.title}}</h1>
  <div class="desc">
{%if global.login%}
   <a href="http://account.{{url.raw}}/logout" class='btnlogin button negative'>{%trans "Logout"%}</a><br />
{%else%}
   <a href="http://account.{{url.raw}}/login" class='btnlogin button positive'>{%trans "Login"%}</a>
{%endif%}
{%if permission == 1%}
   <a class='button' href="http://report.{{url.raw}}/date/all">{%trans "Reports"%}</a>
   <a class='button' href="http://cp.{{url.raw}}">{%trans "Control Panel"%}</a>
   <a class='button' href="http://{{url.raw}}/register">{%trans "Register Visitors"%}</a>
   <a class='button' href="http://{{url.raw}}/kid">{%trans "Register Kids"%}</a>
   <a class='button' href="http://{{url.raw}}/camera">{%trans "Register Visitors Avatar"%}</a>
   <a class='button' href="http://{{url.raw}}/game">{%trans "Start Game"%}</a>
{%elseif permission == 2%}
   <a class='button' href="http://{{url.raw}}/register">{%trans "Register Visitors"%}</a>
   <a class='button' href="http://{{url.raw}}/camera">{%trans "Register Visitors Avatar"%}</a>
{%elseif permission == 3%}
   <a class='button' href="http://{{url.raw}}/game">{%trans "Start Game"%}</a>
{%elseif permission == 5%}
   <a class='button' href="http://{{url.raw}}/register">{%trans "Register Visitors"%}</a>
   <a class='button' href="http://{{url.raw}}/camera">{%trans "Register Visitors Avatar"%}</a>
   <a class='button' href="http://{{url.raw}}/kid">{%trans "Register Kids"%}</a>
{%endif%}
   <a class='button' href="http://{{url.raw}}/point">{%trans "Point Checker"%}</a>
   <a class='button' href="http://{{url.raw}}/change">{%trans "Change points to meney"%}</a>
  </div>
 </div>

</div>
{%endblock%}