{%extends display.mvc%}
{%block header_def%}{%endblock%}


{%block content_def%}
<div class="center" data-xhr="center">
 <div class="content">
 <h1 id="description">{%trans%}Kindergartens{%endtrans%}</h1>
  <form class="ajx form row auto" method="post" id="form-kids">
   <div class="field barcode span4 required">
    <label>{%trans "barcode"%}</label>
    <input type="number" name="barcode" required="" min="10000" max="99999" value="" pattern=".{5,}" class="row" autofocus="" placeholder='{%trans "barcode"%}' id="barcode" >
   </div>
{{forms.make(form['kids'])}}
  </form>

  <ul class="list-cards" data-xhr="list-cards">
{% for i in list %}
  <li tabindex="2">
   <img class="c-avatar" src="s-up/1000/{{i.user_id}}-thumb.jpg" onerror="this.src='{{url.static}}images/face.png'">
   <span class="c-name">{{i.firstname}} {{i.lastname}}</span>
   <span class="c-code">{{i.barcode}}</span>
{%if i.kid_status == 'awaiting'%}
   <a data-method="post" data-ajaxify data-data='{"id": {{i.id}}}' href="/kids/delivery" class="fa fa-child"> <span>{%trans "Delivery"%}</span></a>
{%else%}
   <a data-method="post" data-ajaxify data-data='{"id": {{i.id}}}' href="/kids/call" class="fa fa-bullhorn"> <span>{%trans "Call"%}</span></a>
   <a data-method="post" data-ajaxify data-data='{"id": {{i.id}}}' href="/kids/delivery" class="fa fa-child hide"> <span>{%trans "Delivery"%}</span></a>
{%endif%}
  </li>
{% endfor %}
  </ul>
 </div>
</div>

{%endblock%}