{%extends display.mvc%}
{%block header_def%}{%endblock%}

{%block foot_js%}
 <script>
	$(".card").click(function(){
	  // $(this).toggle('aaa');
	});
 </script>
{%endblock%}


{%block content_def%}
<div class="center" data-xhr="center">
 <div class="content">
 <p id="description">{%trans%}Scan barcode for going to queue.{%endtrans%} {%trans%}Swipe to left for delete.{%endtrans%} {%trans%}swipe to right to win the game.{%endtrans%}</p>
   <form class="ajx form row" method="post" id="form-barcode">{{forms.make(form['barcode'])}}</form>

   <ul class="none">
{% for i in list %}
    <li class="panel">
     <div class="card front">
      <span class="c-name">{{i.firstname}} {{i.lastname}}</span>
      <span class="c-code">{{i.barcode}}</span>
     </div>

     <div class="card back">
      <span class="c-start">Start</span>
      <span class="c-win">Win</span>
      <span class="c-del">Delete</span>
     </div>
    </li>
{% endfor %}
   </ul>
 </div>
</div>

{%endblock%}