{%extends display.mvc%}
{%block header_def%}{%endblock%}


{%block content_def%}
 <div class="container content" data-xhr="center">
 <p id="description">{%trans%}for using system and give prize visitors must register in system.{%endtrans%} {%trans%}you can register visitors in this form.{%endtrans%}</p>
  <form class="ajx form row inline autostyle" method="post" data-delay=3>
   <input id='webcamimage' type="hidden" name="webcam" value=""/>{{forms.make(form['users'])}}
  </form>
 </div>
{%endblock%}