{%extends display.mvc%}
{%block header_def%}{%endblock%}

{%block foot_js%}
 <script src="{{url.static}}js/webcam.min.js"></script>
{%endblock%}


{%block content_def%}
<div class="row auto">
 <div class="container content">
  <div class="span6">
   <div id="my_camera" style="width:320px; height:240px;"></div>
   <a href="javascript:void(take_snapshot())">{%trans "Take Snapshot"%}</a>
   <div id="my_result" ></div>
  </div>
  <div class="span6">
   <form class="ajx form error2" method="post">
  	 <input id="webcam" type="hidden" name="webcam" value=""/>
{{forms.make(form['users'])}}
    </form>
  </div>
</div>

{%endblock%}