<!DOCTYPE html>
<html lang="{{global.lang|replace({'_': '-'}) }}" dir="{{global.direction}}">
<head>
{%block head_def%}
 <meta charset="UTF-8"/>
 <base href="{{url.base}}"/>
 <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/><![endif]-->
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui"/>
 <title>{{global.title}}</title>
 <meta name    ="description"    content="{{page.desc}}"/>
 <meta property="og:url"         content="{{url.root}}"/>
 <meta property="og:image"       content="{{url.static}}images/logo.png"/>
 <meta property='og:locale'      content='{{global.lang}}'/>
 <!-- [if lte IE 8]><script>document.location = 'http://deadbrowser.com/?lang={{global.lang}}';</script><![endif] -->
 <link rel="author"        href="{{url.static}}humans.txt"/>
 <link rel="shortcut icon" href="{{url.static}}images/favicon.png"/>
{%if include.fontawesome %}
 <link rel="stylesheet"    href="{{url.myStatic}}css/font-awesome.min.css"/>{{include.newline}}{%endif%}
{%if include.css_main%}
 <link rel="stylesheet"    href="{{url.myStatic}}css/main.css"/>{{include.newline}}{%endif%}
{%if include.css     %}
 <link rel="stylesheet"    href="{{url.static}}css/style.css"/>{{include.newline}}{%endif%}
{%block head_css         %}{%endblock%}
{%block head_js          %}{%endblock%}
{%endblock%}
{%block head             %}{%endblock%}
</head>
{% import macro.forms as forms %}
{% if extendForm%}
  {% import macro.forms as forms %}
{% endif %}

<body data-xhr="body_def" id="{{global.id}}" class="{{global.direction}} {{bodyclass}} {{module}}">

{%block body_def%}
{%block header_def%}
 <header>
  <div id="header" class="unselectable animated">
   <div id="site-title">
    <h1 id="logo"><a class="navbar-brand" href="{{url.root}}">{{site.title}}</a></h1>
    <nav>
     <div id="header-nav">
      <a href="{{url.root}}">{%trans "Home Page"%}</a>
      <a href="http://cp.{{url.raw}}">{%trans "Control Panel"%}</a>
{%if global.login%}
      <a href="http://account.{{url.raw}}/logout">{%trans "Logout"%}</a>
{%else%}
      <a href="http://account.{{url.raw}}/login">{%trans "Login"%}</a>
{%endif%}
     </div>
    </nav>
   </div>
  </div>
  <div id="header-back"></div>
 </header>
{%endblock%}
{%block header%}{%endblock%}
{%block content_def%}
 <style type="text/css">body{background-color:#eee}.def-msg{font-family:sans-serif;padding-left:15%;color:#403B33;}h1.def-msg{margin-top:10%;color:#9E4949}</style>
 <h1 class='def-msg'>{{site.title}}</h1>
 <h2 class='def-msg'>{{site.desc}}</h2>
 <p class='def-msg'>Let start using Saloos! start edit twig block for show your content. for replace this text use <b>block content</b>.</p>
{%endblock%}
{%block footer_def%}
<footer id="footer">
  <div id="copyright">
   <i class="fa fa-arrows" onclick="launchFullscreen(document.documentElement);"></i>
   <div class='hint--right' data-hint='{{site.desc}}'>
    <span>&copy; {{'now'|date('Y')}}</span>
    <a href="{{url.root}}" tabindex='-1'>{{site.title}}</a>
   </div>

   <div id='languages' class='hint--left' data-hint='{%trans "Experience our service in your language"%}'>
    <select id="langlist" tabindex='-1'>
{%for key, value in global.langlist%}{%if key == global.lang%}
     <option value="{{key}}" selected="selected">{{value}}</option>
{%else%}
     <option value="{{key}}">{{value}}</option>
{%endif%}{% endfor %}
    </select>
   </div>
  </div>
</footer>
{%endblock%}
{%block footer%}{%endblock%}
{%endblock%}
{%block debug%}
 {%if debug is iterable%}
  <div id="formError">
  {%for key, mydebug in debug.messages if mydebug is iterable %}
   <ul class="{{key}} unselectable">
   {%for key, err in mydebug%}
   {%if err.title is defined%}
   <li class="notify-{{err.group}} {{err.redirect}}">{{debug.title}} {{err.title}}</li>
   {%else%}
   <li class="notify-{{key}}">{{err}}</li>
   {%endif%}
   {%endfor%}
   </ul>
   {%endfor%}
  </div>
 {%endif%}
{%endblock%}
{%block foot_css%}{%endblock%}

{%if include.js_main   %} <script src="{{url.myStatic}}js/common.js"></script>{{include.newline}}{%endif%}
{%if include.datatable %} <script src="{{url.myStatic}}js/datatable/jquery.dataTables.min.js"></script>{{include.newline}}{%endif%}
{%if include.editor    %} <script src="{{url.myStatic}}js/cp/medium-editor.min.js"></script>{{include.newline}}{%endif%}
{%if include.telinput  %} <script src="{{url.myStatic}}js/intlTelInput.min.js"></script>{{include.newline}}{%endif%}
{%if include.chart     %} <script src="{{url.myStatic}}js/highcharts/highcharts.js"></script>{{include.newline}}{%endif%}
{%if include.chartexp  %} <script src="{{url.myStatic}}js/highcharts/modules/exporting.js"></script>{{include.newline}}{%endif%}
{%if include.js        %} <script src="{{url.static}}js/script.js"></script>{{include.newline}}{%endif%}

<div data-xhr='foot_js' class="foot_js">
{%block foot_js        %}{%endblock%}
</div>
</body>
</html>