/*******************************
            Forms
*******************************/
input, select, textarea {font-family:'Roboto Slab',serif;}
.rtl input, .rtl select, .rtl textarea {font-family:'IRANSans',serif;}

.form {position: relative;max-width: 100%;padding: 1em;font-size:16px;font-size:1.6rem;}
.rtl .form {font-size:12px;font-size: 1.2rem;}
.form > p {margin: 1em 0em;}
.form .field {clear: both;margin: 0em 0em 1em;}
.form .field label {
  display: inline-block;
  vertical-align: middle;
  margin:0 0 0.2em 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9em;
  font-weight: bold;
  text-transform: none;
}

.form .radio label{margin:0 0.2em 0 0;vertical-align:top;}
.form .radio .element{display: inline-block;margin:0 0.5em 0 0;}
.rtl .form .radio .element{display: inline-block;margin:0 0 0 0.5em;}
.form.block .radio .element{display: block;}
/*--------------------
    Standard Inputs
---------------------*/
.form input:not([type]),
.form input[type="text"],
.form input[type="email"],
.form input[type="date"],
.form input[type="datetime-local"],
.form input[type="password"],
.form input[type="number"],
.form input[type="url"],
.form input[type="tel"] 
.form input,
.form textarea,
.form .editor,
.form select{
  width: 96%;
  vertical-align: top;
  margin: 0em;
  outline: none;
  padding: 0.4em 2%;
  font-size: 1em;
  background: #ffffff;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}
.form textarea, .editor {
  height: 12em;
  min-height: 8em;
  max-height: 24em;
  resize: vertical;
}

/*--------------------------
  Input w/ attached Button
---------------------------*/
.form input.attached {width: auto;}


/*--------------------
       Dividers
---------------------*/
.form .divider {clear: both;margin: 1em 0em;}

/*--------------------
     Required Field
---------------------*/
.form .required.field > label:after,
.form .required.field > .checkbox:after {
  margin: -0.2em 0em 0em 0.2em;
  content: '*';
  color: #d95c5c;
}
.form .required.field > label:after {
  display: inline-block;
  vertical-align: top;
}

/*******************************
            States
*******************************/

/*--------------------
      Placeholder
---------------------*/

/* browsers require these rules separate */
.form ::-webkit-input-placeholder {
  color: rgba(140, 140, 140, 0.8);
}
.form ::-moz-placeholder {
  color: rgba(140, 140, 140, 0.8);
}
.form :focus::-webkit-input-placeholder {
  color: rgba(89, 89, 89, 0.8);
}
.form :focus::-moz-placeholder {
  color: rgba(89, 89, 89, 0.8);
}

/* Error Placeholder */
.form .error ::-webkit-input-placeholder {
  color: #e38585;
}
.form .error ::-moz-placeholder {
  color: #e38585;
}
.form .error :focus::-webkit-input-placeholder {
  color: #de7171;
}
.form .error :focus::-moz-placeholder {
  color: #de7171;
}

/*--------------------
        Focus
---------------------*/

.form input:not([type]):focus,
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="password"]:focus,
.form input[type="number"]:focus,
.form input[type="url"]:focus,
.form input[type="tel"]:focus,
.form textarea:focus{
  color: rgba(0, 0, 0, 0.85);
  border-color: rgba(39, 41, 43, 0.3);
  border-radius: 0em 0.2857rem 0.2857rem 0em;
  background: #ffffff;
}

/*--------------------
        Warning
---------------------*/



/* On Field(s) */
.form .field.error label,
.form .field.error .input {
  color: #d95c5c;
}
.form .field.error .corner.label {
  border-color: #d95c5c;
  color: #ffffff;
}
.form .field.error textarea,
.form .field.error input:not([type]),
.form .field.error input[type="text"],
.form .field.error input[type="email"],
.form .field.error input[type="date"],
.form .field.error input[type="datetime-local"],
.form .field.error input[type="password"],
.form .field.error input[type="number"],
.form .field.error input[type="url"],
.form .field.error input[type="tel"] {
  background: #fff0f0;
  border-color: #dbb1b1;
  color: #d95c5c;
  border-radius: 0em 0.2857rem 0.2857rem 0em;
  box-shadow: 2px 0em 0em 0em #d95c5c inset;
}
.form .field.error textarea:focus,
.form .field.error input:not([type]):focus,
.form .field.error input[type="text"]:focus,
.form .field.error input[type="email"]:focus,
.form .field.error input[type="date"]:focus,
.form .field.error input[type="datetime-local"]:focus,
.form .field.error input[type="password"]:focus,
.form .field.error input[type="number"]:focus,
.form .field.error input[type="url"]:focus,
.form .field.error input[type="tel"]:focus {
  background: #fff0f0;
  border-color: #dbb1b1;
  color: #dc6868;
  -webkit-appearance: none;
  box-shadow: 2px 0em 0em 0em #dc6868 inset;
}

/*------------------
    Dropdown Error
--------------------*/

.form .field.error .dropdown,
.form .field.error .dropdown .text,
.form .field.error .dropdown .item {
  background: #fff0f0;
  color: #d95c5c;
}
.form .field.error .dropdown {
  border-color: #dbb1b1 !important;
}
.form .field.error .dropdown:hover {
  border-color: #dbb1b1 !important;
}
.form .field.error .dropdown:hover .menu {
  border-color: #dbb1b1;
}

/* Hover */
.form .field.error .dropdown .menu .item:hover {
  background-color: #fff2f2;
}

/* Active */
.form .field.error .dropdown .menu .active.item {
  background-color: #fdcfcf !important;
}

/*--------------------
    Checkbox Error
---------------------*/

.form .field.error .checkbox:not(.toggle):not(.slider) label,
.form .field.error .checkbox:not(.toggle):not(.slider) .box {
  color: #d95c5c;
}
.form .field.error .checkbox:not(.toggle):not(.slider) label:before,
.form .field.error .checkbox:not(.toggle):not(.slider) .box:before {
  background: #fff0f0;
  border-color: #dbb1b1;
}
.form .field.error .checkbox label:after,
.form .field.error .checkbox .box:after {
  color: #d95c5c;
}

/*--------------------
       Disabled
---------------------*/

.form .field :disabled,
.form .field.disabled {
  opacity: 0.5;
}
.form .field.disabled label {
  opacity: 0.5;
}
.form .field.disabled :disabled {
  opacity: 1;
}

/*--------------
    Loading
---------------*/

.loading-form .form {
  position: relative;
  cursor: default;
  point-events: none;
  text-shadow: none !important;
  color: transparent !important;
  -webkit-transition: all 0s linear;
          transition: all 0s linear;
  z-index: 100;
}
.loading-form .form:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 100;
}
.loading-form .form:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -1.5em 0em 0em -1.5em;
  width: 3em;
  height: 3em;
  -webkit-animation: form-spin 0.6s linear;
          animation: form-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #aaaaaa rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0px 0px 1px transparent;
  visibility: visible;
  z-index: 101;
}
@-webkit-keyframes form-spin {

  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes form-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}



/*******************************
           Variations
*******************************/


/*--------------------
    Inverted Colors
---------------------*/

.inverted.form label,
.form .inverted.segment label,
.form .inverted.segment .checkbox label,
.form .inverted.segment .checkbox .box,
.inverted.form .checkbox label,
.inverted.form .checkbox .box {
  color: #ffffff;
}

/*--------------------
     Field Groups
---------------------*/


/* Grouped Vertically */
.form .grouped.fields {
  margin: 0em 0em 1em;
}
.form .grouped.fields:last-child {
  margin-bottom: 0em;
}
.form .grouped.fields > label {
  font-size: 0.9285em;
}
.form .grouped.fields .field {
  display: block;
  float: none;
  margin: 0.5em 0em;
  padding: 0em;
}

/*--------------------
        Fields
---------------------*/


/* Split fields */
.form .fields {
  clear: both;
}
.form .fields:after {
  content: ' ';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.form .fields > .field {
  clear: none;
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.form .fields > .field:first-child {
  border-left: none;
  box-shadow: none;
}

/* Other Combinations */
.form .two.fields > .fields,
.form .two.fields > .field {
  width: 50%;
}
.form .three.fields > .fields,
.form .three.fields > .field {
  width: 33.33333333%;
}
.form .four.fields > .fields,
.form .four.fields > .field {
  width: 25%;
}
.form .five.fields > .fields,
.form .five.fields > .field {
  width: 20%;
}
.form .six.fields > .fields,
.form .six.fields > .field {
  width: 16.66666667%;
}
.form .seven.fields > .fields,
.form .seven.fields > .field {
  width: 14.28571429%;
}
.form .eight.fields > .fields,
.form .eight.fields > .field {
  width: 12.5%;
}
.form .nine.fields > .fields,
.form .nine.fields > .field {
  width: 11.11111111%;
}
.form .ten.fields > .fields,
.form .ten.fields > .field {
  width: 10%;
}

/* Swap to full width on mobile */
@media only screen and (max-width: 767px) {
  .form .two.fields > .fields,
  .form .two.fields > .field,
  .form .three.fields > .fields,
  .form .three.fields > .field,
  .form .four.fields > .fields,
  .form .four.fields > .field,
  .form .five.fields > .fields,
  .form .five.fields > .field,
  .form .six.fields > .fields,
  .form .six.fields > .field,
  .form .seven.fields > .fields,
  .form .seven.fields > .field,
  .form .eight.fields > .fields,
  .form .eight.fields > .field,
  .form .nine.fields > .fields,
  .form .nine.fields > .field,
  .form .ten.fields > .fields,
  .form .ten.fields > .field {
    width: 100% !important;
    margin: 0em 0em 1em;
    padding-left: 0%;
    padding-right: 0%;
  }
}
.form .fields .field:first-child {
  padding-left: 0%;
}
.form .fields .field:last-child {
  padding-right: 0%;
}

/* Sizing Combinations */
.form .fields .wide.field {
  width: 6.25%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.form .fields .wide.field:first-child {
  padding-left: 0%;
}
.form .fields .wide.field:last-child {
  padding-right: 0%;
}
.form .one.wide.field {
  width: 6.25% !important;
}
.form .two.wide.field {
  width: 12.5% !important;
}
.form .three.wide.field {
  width: 18.75% !important;
}
.form .four.wide.field {
  width: 25% !important;
}
.form .five.wide.field {
  width: 31.25% !important;
}
.form .six.wide.field {
  width: 37.5% !important;
}
.form .seven.wide.field {
  width: 43.75% !important;
}
.form .eight.wide.field {
  width: 50% !important;
}
.form .nine.wide.field {
  width: 56.25% !important;
}
.form .ten.wide.field {
  width: 62.5% !important;
}
.form .eleven.wide.field {
  width: 68.75% !important;
}
.form .twelve.wide.field {
  width: 75% !important;
}
.form .thirteen.wide.field {
  width: 81.25% !important;
}
.form .fourteen.wide.field {
  width: 87.5% !important;
}
.form .fifteen.wide.field {
  width: 93.75% !important;
}
.form .sixteen.wide.field {
  width: 100% !important;
}

/* Swap to full width on mobile */
@media only screen and (max-width: 767px) {
  .form .two.fields > .fields,
  .form .two.fields > .field,
  .form .three.fields > .fields,
  .form .three.fields > .field,
  .form .four.fields > .fields,
  .form .four.fields > .field,
  .form .five.fields > .fields,
  .form .five.fields > .field,
  .form .fields > .two.wide.field,
  .form .fields > .three.wide.field,
  .form .fields > .four.wide.field,
  .form .fields > .five.wide.field,
  .form .fields > .six.wide.field,
  .form .fields > .seven.wide.field,
  .form .fields > .eight.wide.field,
  .form .fields > .nine.wide.field,
  .form .fields > .ten.wide.field,
  .form .fields > .eleven.wide.field,
  .form .fields > .twelve.wide.field,
  .form .fields > .thirteen.wide.field,
  .form .fields > .fourteen.wide.field,
  .form .fields > .fifteen.wide.field,
  .form .fields > .sixteen.wide.field {
    width: 100% !important;
    margin: 0em 0em 1em;
    padding-left: 0%;
    padding-right: 0%;
  }
}

/*--------------------
    Inline Fields
---------------------*/

.form .inline.fields {
  margin: 0em 0em 1em;
}
.form .inline.fields .field {
  display: inline-block;
  float: none;
  margin: 0em 1em 0em 0em;
  padding: 0em;
}
.form .inline.fields .field > label,
.form .inline.fields .field > p,
.form .inline.fields .field > input,
.form .inline.fields .field > .input,
.form .inline.field > label,
.form .inline.field > p,
.form .inline.field > input,
.form .inline.field > .input {
  display: inline-block;
  width: auto;
  margin-top: 0em;
  margin-bottom: 0em;
  vertical-align: middle;
  font-size: 0.9285em;
}
.form .inline.fields .field > input,
.form .inline.fields .field > .input,
.form .inline.field > input,
.form .inline.field > .input {
  font-size: 0.9285em;
}
.form .inline.fields .field > .checkbox label {
  padding-left: 1.75em;
}

/* Label */
.form .inline.fields .field > :first-child,
.form .inline.field > :first-child {
  margin: 0em 0.2857rem 0em 0em;
}
.form .inline.fields .field > :only-child,
.form .inline.field > :only-child {
  margin: 0em;
}

/*--------------------
        Sizes
---------------------*/


/* Standard */
.small.form {
  font-size: 0.875em;
}

/* Large */
.large.form {
  font-size: 1.125em;
}

/* Huge */
.huge.form {
  font-size: 1.2em;
}
