body {color:#eee;background: url('../images/bg.jpg') #E0E0E0 no-repeat center center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;min-height: 100%;min-width: 100%;}
a{color:#9DD7FA}
.center{position: relative;min-width:280px;max-width:360px;width:320px;margin: 0 auto;margin-bottom: 80px;}
.content{margin: 0 auto;padding: 20px 2%;-webkit-border-radius: 7px;-moz-border-radius: 7px;-ms-border-radius: 7px;-o-border-radius: 7px;border-radius: 7px;background: url('../images/bg-white-lock.png') repeat;}
h1{color: #eee;text-shadow: 0px 2px 3px #555;text-align: center;font-size: 3em;font-weight: 700;margin:0;margin-bottom: 20px}
#logo{display: block;margin:0 auto;width:160px;height:auto;border:none}
#logo img:focus, #logo:focus{border:none;outline: none;}


#desc,.desc{text-align:center;margin-top: 15px;}
#desc p{margin:3px 0;}
.hide{opacity: 0;}
.show{opacity: 1;}


.account{direction:ltr;position:relative;padding:0;color: #aaa;-webkit-border-radius: 10px;border-radius: 10px;}
.account button{position:relative;background-color:#4B8DF8;color:#fff;border-radius:3px; width:90%;margin-top:20px;font-size:1.6em;height:40px;padding-right: 30px;transition: all .3s ease;}
.account button:after{font-family:FontAwesome;content: "\f0a9";padding:0 5px;position:absolute;top:0;right:5px;font-size:25px;line-height:40px}
.account button:hover{background-color:#2E73E2}
.account button:active, .account button:focus{background-color:#094BB6}
.account input{background-color:#fff;border-radius:3px;border:none;width:90%;height: 25px; margin:2px 5%;padding: 1.5em 5%;}
.field span{width:100%;}



#footer{position:fixed}
#footer #langlist {font-family:'IRANSans',serif;font-size:0.8em;}
#register{color:#000;}
#register form{padding:0;}
#description{font-size:1em;color:#000;}
#webcambox{margin:0 1%;width:98%;position:relative;}
#webcambox:focus,#webcambox a:focus, #my_camera:focus{outline:none}
#my_camera{width:240px;height:180px;}
#my_camera video{border-radius: 3px;overflow:hidden;}
#my_camera_result {position: absolute;top:0;right:-80px;cursor: pointer;}
#my_camera_result img{width:160px; height:160px;border-radius:50%;}

#counter{font-size: 3em;position: absolute;left: 20px;z-index: 2;}

#form-barcode{margin:0;padding:0}
#form-barcode .barcode{margin:0;padding:0}
#form-barcode .submit{margin:0;padding:0;margin-bottom: 10px;}
#form-barcode button{width:100%;margin: 0;padding:10px 0;}
#form-barcode input{margin:0;padding:2px 0;width:100%;direction:ltr;text-align:center;height:25px;overflow:hidden;}
.loading-form .form#form-barcode{min-height:68px;}
.loading-form .container{opacity: 0.2}

.loading-form #webcambox #my_camera{opacity: 0.2}
.loading-form #webcambox #my_camera_result{opacity:1}

/* #Mobile (Landscape) =================================== Design for a width of 480px*/
@media only screen and (max-width: 767px){
	#logo{margin-top:0;}
	h1{margin:0 auto 10px;}
	#footer{position: relative;bottom: 0;margin-top:80px;}
  #formError{position:absolute;}
}

@media only screen and (max-width: 320px){
	.center{width: 100%;}
  #formError{top:10px;right:0px;}
}




ul.none{padding:0;margin:0}

.game-cards li{
    height: 35px;
    margin: 1em auto;
    position: relative;
    border:none;
	
}

.game-cards li > div {
	border:none;
	background-color: #eee;
	color:#000;
	opacity: 0.9;
    width: 96%;
    padding:0 2%;
    height: 100%;
    -o-transition: all .4s;
    -ms-transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    margin:0;
    top: 0px;
    left: 0px;
    line-height: 35px;
    border-radius: 3px;
}

.game-cards li .front {
    z-index: 2;
}

.game-cards li .back {
    z-index: 1;
    -webkit-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);  
    transform: rotateX(-180deg);
}

 .game-cards li:focus .front {
    z-index: 1;
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

 .game-cards li:focus .back {
    z-index: 2;   
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

@media only screen and (min-width: 960px){
 .game-cards li:hover .front {
    z-index: 1;
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

 .game-cards li:hover .back {
    z-index: 2;   
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

}

.game-cards li .c-avatar{float:right;margin-top:-3px;margin-right:-8px; width:40px;height:40px;overflow:hidden;border-radius:50%}
.game-cards li .c-avatar img{width:100%;height:100%;}
.game-cards li .c-name{float:right;margin-right:10px;}
.game-cards li .c-code{float:left;}
.game-cards .back a{width:24%;margin:0 auto;}

.game-cards .fa{line-height:35px;font-size:20px;opacity:0.7}
.game-cards .fa:hover{opacity:1}
.game-cards .fa span{font-size:10px;font-family:'IRANSans',serif;margin:0 auto;vertical-align: top;color:#333;}
/*.game-cards .back a.fa-tty{width:48%;}*/
.game-cards .fa-thumbs-up{color:#82B246;}
.game-cards .fa-thumbs-down{color:#066CAB;}
.game-cards .fa-times{color:#D30303;}
.game-cards .fa-reply{color:#A4BECF;cursor:pointer;float:left;}





.steps{width:100%;height:40px;background-color:#eee;border-radius:5px;line-height: 40px;padding:0;margin:0;}
.steps div{display: inline; margin:0 20px;}
.steps span{padding:5px;background-color:#B5B5B5;width:20px;height:20px; color:#eee;border-radius:50%;display:inline-block;margin-top:-5px;font-size:1em;line-height: 20px;text-align:center;}