{%extends display.mvc%}
{%block header_def%}{%endblock%}


{%block content_def%}
<div class="center">
 <header>{%spaceless%}
  <a target="_blank" href="{{url.root}}" title="{{site.slogan}}" tabindex="-1" id='logo'>
   <img src="{{url.static}}images/logo.svg" alt='{%trans "masoomeh holy shine"%}' />
  </a>
 </header>{%endspaceless%}

 <div data-xhr="content" class="content">
  <h1>{{page.desc}}</h1>
{%block form_def%}
   <form class="ajx account" method="post" action="{{module}}">{{forms.make(form[myform])}}</form>
{%endblock%}

  <footer>
{%block content%}{%endblock%}
  </footer>
 </div>

</div>
{%endblock%}