{%extends display.mvc%}
{%block header_def%}{%endblock%}


{%block content_def%}
<div class="center">
 <header>{%spaceless%}
  <a href="{{url.root}}" title="{{site.slogan}}" tabindex="-1" id='logo'>
   <img src="{{url.static}}images/logo.png" alt='{{site.title}}' />
  </a>
 </header>{%endspaceless%}

 <div data-xhr="content" class="content">
  <h1>{{page.desc}}</h1>
{%block form_def%}
   <form class="ajx account" method="post" action="{{module}}">
  {%if booths%}
    <select name="booth_" id="booth_" data-unclear="">
     <option value="" disabled="disabled">انتخاب غرفه</option>
     {%for row in booths%}
      <option value="{{row.id}}">{{row.booth_title}}</option>
     {% endfor %}
    </select>
  {%endif%}
{{forms.make(form[myform])}}
   </form>
{%endblock%}

  <footer>
{%block content%}{%endblock%}
  </footer>
 </div>

</div>
{%endblock%}