{%extends display.mvc%}

{%block head_css%} <link rel="stylesheet"    href="{{url.static}}css/style-account.css?ver=1.1.0">{%endblock%}


{%block body_def%}
<div class="center">
 <header>{%spaceless%}
  <a target="_blank" href="{{url.root}}" title="{{site.slogan}}" tabindex="-1" id='logo'>
   <img src="{{url.static}}images/logo.svg" alt='{%trans "masoomeh holy shine"%}' />
  </a>
 </header>{%endspaceless%}


 <div data-xhr="content" class="content">
  <h1>{{page.desc}}</h1>
{%block form_def%}
   <form class="ajx account" method="post" action="{{module}}">{{forms.make(form[myform])}}</form>
{%endblock%}

  <footer>
{%block content%}{%endblock%}
  </footer>
 </div>

</div>

<footer id="footer">
  <div id="copyright">
   <div class='hint--right hint--info' data-hint='{%trans "for childrens"%}'>
    <span>&copy; {{'now'|date('Y')}}</span>
    <a href="{{url.root}}" title="{{site.desc}}" tabindex="-1">{{site.title}}</a>
   </div>

   <div id='languages' class='hint--left hint--info' data-hint='{%trans "Experience our service in your language"%}'>
    <select id="langlist">
{%for key, value in global.langlist%}{%if key == global.lang%}
     <option value="{{key}}" selected="selected">{{value}}</option>
{%else%}
     <option value="{{key}}">{{value}}</option>
{%endif%}{% endfor %}
    </select>
   </div>
  </div>
</footer>
{%endblock%}